# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtualenv
.venv/

# Logs and runtime files
var/*.log*
var/memory.*

# Others
*.egg-info/
.dist/
.build/
pytest_cache/
.ruff_cache/

# OS build artifacts
os/debian-live/build/
os/debian-live/*.iso
